## üêç pandas_csv_basic_analysis.py

In [3]:
import pandas as pd

### 1. Read CSV / Excel into DataFrame

In [4]:
df = pd.read_csv(r"E:\Syntecxhub_task1_pandas\Sample - Superstore.csv", encoding="latin1")

print("First 5 rows:\n", df.head())
print("\nLast 5 rows:\n", df.tail())
print("\nData Types:\n", df.dtypes)

First 5 rows:
    Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2013-152156  2013-11-09  12-11-2013    Second Class    CG-12520
1       2  CA-2013-152156  2013-11-09  12-11-2013    Second Class    CG-12520
2       3  CA-2013-138688  2013-06-13  17-06-2013    Second Class    DV-13045
3       4  US-2012-108966  2012-10-11  18-10-2012  Standard Class    SO-20335
4       5  US-2012-108966  2012-10-11  18-10-2012  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

Last 5 rows:
       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
9989    9990  CA-2011-110422  2011-01-22  24-01-2011    Second Class
9990    9991  CA-2014-121258  2014-02-27  04-03-2014  Standard Class
9991    9992  CA-2014-121258  2014-02-27  04-03-2014  Standard Class
9992    9993  CA-2014-121258  2014-02-27  04-03-2014  Standard Class
9993    9994  CA-2014-119914  2014-05-05  10-05-2014    Second Class

     Customer ID     Customer Name   Segment        Country         City  ...  \
9989    TB-21400  Tom Boeckenhauer  Consumer  United States        Miami  ...
9990    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9991    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9992    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9993    CC-12220      Chris Cortes  Consumer  United States  Westminster  ...

     Postal Code  Region       Product ID         Category Sub-Category  \
9989       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991       92627    West  TEC-PH-10003645       Technology       Phones
9992       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name    Sales  Quantity  \
9989                             Ultra Door Pull Handle   25.248         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.960         2
9991                              Aastra 57i VoIP phone  258.576         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.600         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.160         2

      Discount   Profit
9989       0.2   4.1028
9990       0.0  15.6332
9991       0.2  19.3932
9992       0.0  13.3200
9993       0.0  72.9480

[5 rows x 21 columns]

Data Types:
 Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

### 2. Compute summary statistics

In [5]:
summary_stats = df.describe()
print("\nSummary Statistics:\n", summary_stats)

Summary Statistics:
             Row ID   Postal Code         Sales     Quantity     Discount  \
count  9994.000000   9994.000000   9994.000000  9994.000000  9994.000000
mean   4997.500000  55190.379428    229.858001     3.789574     0.156203
std    2885.163629  32063.693350    623.245101     2.225110     0.206452
min       1.000000   1040.000000      0.444000     1.000000     0.000000
25%    2499.250000  23223.000000     17.280000     2.000000     0.000000
50%    4997.500000  56430.500000     54.490000     3.000000     0.200000
75%    7495.750000  90008.000000    209.940000     5.000000     0.200000
max    9994.000000  99301.000000  22638.480000    14.000000     0.800000

            Profit
count  9994.000000
mean     28.656896
std     234.260108
min   -6599.978000
25%       1.728750
50%       8.666500
75%      29.364000
max    8399.976000

In [6]:
print("üîπ Mean Sales:", df["Sales"].mean())
print("üîπMedian sales:", df["Sales"].median())
print("üîπMinimum Sales:",df["Sales"].min())
print("üîπMaximum Sales:", df["Sales"].max())
print("üîπTotal Orders:",df["Order ID"].count())

üîπ Mean Sales: 229.85800083049833
üîπMedian sales: 54.489999999999995
üîπMinimum Sales: 0.444
üîπMaximum Sales: 22638.48
üîπTotal Orders: 9994

### 3.Filtering Example

In [16]:
# High sales orders (Sales > 1000)
high_sales = df[df["Sales"] > 1000]

print("\nüîπ High Sales Orders (Sales > 1000):")
print("high_sales.head()")

üîπ High Sales Orders (Sales > 1000):
high_sales.head()

### 5.Select Specific Columns

In [17]:


sales_profit = df[["Order ID", "Customer Name", "Sales", "Profit"]]

print("\nüîπ Selected Columns:")
print(sales_profit.head())

üîπ Selected Columns:
         Order ID    Customer Name     Sales    Profit
0  CA-2013-152156      Claire Gute  261.9600   41.9136
1  CA-2013-152156      Claire Gute  731.9400  219.5820
2  CA-2013-138688  Darrin Van Huff   14.6200    6.8714
3  US-2012-108966   Sean O'Donnell  957.5775 -383.0310
4  US-2012-108966   Sean O'Donnell   22.3680    2.5164

### 6Ô∏è‚É£ Slice Subset (First 10 Rows)

In [19]:
subset = df.iloc[0:10]

print("\nüîπ First 10 Rows:")
print(subset)

üîπ First 10 Rows:
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2013-152156  2013-11-09  12-11-2013    Second Class    CG-12520
1       2  CA-2013-152156  2013-11-09  12-11-2013    Second Class    CG-12520
2       3  CA-2013-138688  2013-06-13  17-06-2013    Second Class    DV-13045
3       4  US-2012-108966  2012-10-11  18-10-2012  Standard Class    SO-20335
4       5  US-2012-108966  2012-10-11  18-10-2012  Standard Class    SO-20335
5       6  CA-2011-115812  2011-06-09  14-06-2011  Standard Class    BH-11710
6       7  CA-2011-115812  2011-06-09  14-06-2011  Standard Class    BH-11710
7       8  CA-2011-115812  2011-06-09  14-06-2011  Standard Class    BH-11710
8       9  CA-2011-115812  2011-06-09  14-06-2011  Standard Class    BH-11710
9      10  CA-2011-115812  2011-06-09  14-06-2011  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage
5       90032    West  FUR-FU-10001487        Furniture  Furnishings
6       90032    West  OFF-AR-10002833  Office Supplies          Art
7       90032    West  TEC-PH-10002275       Technology       Phones
8       90032    West  OFF-BI-10003910  Office Supplies      Binders
9       90032    West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
6                                         Newell 322    7.2800         4
7                     Mitel 5320 IP Phone VoIP phone  907.1520         6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040         3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000         5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 21 columns]

###  7Ô∏è‚É£ GroupBy Analysis (Business Insight)

In [20]:

region_sales = df.groupby("Region")["Sales"].sum()

print("\nüîπ Total Sales by Region:")
print(region_sales)

category_profit = df.groupby("Category")["Profit"].sum()

print("\nüîπ Total Profit by Category:")
print(category_profit)

üîπ Total Sales by Region:
Region
Central    501239.8908
East       678781.2400
South      391721.9050
West       725457.8245
Name: Sales, dtype: float64

üîπ Total Profit by Category:
Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64

### 8Ô∏è‚É£ Save Filtered Results

In [21]:

high_sales.to_csv("high_sales_orders.csv", index=False)
region_sales.to_csv("region_sales_summary.csv")

print("\n‚úÖ Analysis Completed & Files Saved Successfully!")

‚úÖ Analysis Completed & Files Saved Successfully!